body{
    background-color: black
}

h1{
    color: white;
    text-transform: uppercase;
}

.poster{
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    color: white;
}

.motivation-img{
    border: 5px solid white;
    width: 100%;
}

